* {
    margin: 0;
    padding: 0;
}


.logo {
    width: 100%;
}

.logo > img {
    position: absolute;
    right: 40%;
    top: 40%;
    z-index: 10;
}

.max-height {
    max-height: 1000px;
}

.imgbox {
    display: grid;
    height: 100%;
}
.center-fit {
    width: 100%;
}

.your-clock {
    position: absolute;
    top: 60%;
    left: 30%;
    z-index: 100;
}

.object {
    position: absolute;
    transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 2s ease-in-out; /** Firefox **/
    -o-transition: all 2s ease-in-out; /** Opera **/
}

.move-left {
    transform: translate(-4350px,0);
    -webkit-transform: translate(-4350px,0); /** Safari & Chrome **/
    -o-transform: translate(-4350px,0); /** Opera **/
    -moz-transform: translate(-4350px,0); /** Firefox **/
}


.inn {
    background-color: antiquewhite !important;
}

.flip-clock-label {
    color: white !important;
}

.flip-clock-dot {
    background: antiquewhite !important;
}

audio {
    position: absolute;
}